/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Titillium Web', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: orange;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menu_icon {
    font-size: 300%;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;

}

.big_container {
    display: flex;
    justify-content: space-between;
    padding-left:50px;
    padding-right: 50px;
    background-image: url(../Images/contactbackground.jpg);
    height:1000px;
    background-size: cover;
    background-position: center center;
}

body {
    margin: 0px;
    padding: 0px;
}

#text p {
    padding-top: 750px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}

#contact {
    padding-left: 70px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    align-items: right;
}

.container {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    width: 80%;
    /*align-items: right;*/
    padding-right: 50px;
}

#address {
    padding-left: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
}

#address_info {
    padding-left: 10px;
    font-family: 'Titillium Web', sans-serif;
    align-items: left;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
    font-size: 20px;
    align-items: flex-end;
    font-family: 'Titillium Web', sans-serif;

}
#map {
    width:150%;
    height:300px;
}
.address_map {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}