/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Titillium Web', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: orange;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menu_icon {
    font-size: 300%;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;

}

footer {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
    font-size: 20px;
    align-items: flex-end;
    font-family: 'Titillium Web', sans-serif;

}

#text {
    background-image: url(../Images/lightbulb.jpg);
    height:1000px;
    background-size: cover;
    background-position: center center;
    /*align-items: flex-end;*/
    /*align-content: flex-end;*/
    /*flex-direction: column;*/
}
body {
    margin: 0px;
    padding: 0px;
}

#text p {
   padding-top: 750px;
    /*display: flex;*/
    font-size: 50px;
    text-align: center;
    /*align-self: flex-end;*/
    font-family: 'Titillium Web', sans-serif;
    vertical-align: text-bottom;

}






